body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/colores\ degradados.jpg);
    background-size: cover;
    background-position: center;
}

header {
    background-color: #333333;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #e5aae9;
    font-size: 17px;
    margin-left: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #f78dcb;
    text-decoration: none;
    padding: 10px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centra el contenido horizontalmente */
    padding: 60px;
    flex-direction: column;
    /* Alinea los elementos en columna */
}

.content {
    text-align: center;
    /* Centra el texto dentro de content */
}

.content h1 {
    margin: 39px 0;
    /* Margen superior de 40px */
    font-weight: normal;
    /* Quitar negrita */
    font-size: 2.5rem;
    /* Ajustar el tamaño del h1 */
}

.content p {
    margin: 30px 0;
    /* Mantiene el margen arriba y abajo */
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
}

.el-texto-principal {
    text-align: center;
    /* Alinea el texto al centro */
}

.imagen-arriba {
    width: 200px;
    border-radius: 255px;
    border-style: solid;
    border-width: 4px;
    border-color: #b7abf2;
 }

.button {
    display: inline-block;
    background-color: #f039a5;
    /* Color del fondo del botón */
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 10px;
    text-align: center;
}

